* {
	box-sizing: border-box;
  }

body {
	margin: 0;
	width: 100%;
    height: 100%;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	justify-content: center;
	align-items: center;
	font-size: 15px;
    background: black;
    color:white;
    display: flex;
    flex-direction: column;	
}

#topBar{
    background: black;
    position: fixed;
	text-align: center;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
    color: white;
    padding: 8px 5px 5px 5px;
}

#main{
    position: relative;
	margin-top: 60px;
    flex: 1 0 auto;
    min-height: 500px;
    min-width: 400px;
}

.menu
{
    width: 100%;
	font-size: 17px;
	height: 50px;
	padding:5px 5px 5px 5px;
}

.menu a{
	text-decoration: none;
	padding: 30px;
    cursor: context-menu;
}

a.Lwelcome:hover, #Setting h1{
    color:pink;
}

a.Lregister:hover ,#Register h1{
    color:#ffcc66;
}

a.Llogin:hover ,#Login h1{
    color:#99ff66;
}

a.Labout:hover{
    color:#4ddbff;
}

#Game h1{
    color:#c1a4f7e0;	
}

.screen{
    text-align: center;
    margin-top: 40px;
    padding: 5px 5px 5px 5px;
}

button, #submitLogin, #randombtn, #startbtn {
	padding: 10px;
	margin-top: 20px;
	border-radius: 20px;
    font-family:inherit;
	border:2px solid rgba(75, 75, 247, 0.856);
	border-bottom: 4px solid  rgba(75, 75, 247, 0.856);
	background: #272727;  
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	outline: none;
}

#Welcome button{
    width:200px;
}

#Register button ,#submitLogin, #randombtn, #startbtn{
    width:30%;  
}

#randombtn, #startbtn, #Welcome button{
   margin-left: 8px;
}

button:hover, #submitLogin:hover, #randombtn:hover, #startbtn:hover{
	background:#424242;
} 

.RegisterLable, .LoginLable, .settingLable {
    float: left;
    width: 120px;
    padding-right: 24px;
    font-weight:bold;
}

.LoginLable, .RegisterLable{
    margin-top:20px;
}

.buttonHolder{
    display: flex;
    width:100%;
    text-align: center;
}

input, textarea { 
	outline: none;
}

form {
	position: relative;
	width: 600px;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
    margin:0;
    padding:0;
}

.form-inner {
	padding: 40px;
}

.form-inner input,
.form-inner textarea{
	font-family:inherit;
	display: block;
	width: 100%;
    float: left;
    width: calc(100% - 120px);
	padding: 15px;
	margin-top: 10px;
    margin-bottom: 5px;
	border: none;
	border-radius: 20px;
	background: lightgrey;
}

.form-inner textarea {
	resize: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
	box-shadow: initial;
	-webkit-box-shadow: 0 0 0px 1000px lightgrey inset;
}

.form-inner input[type=color]{
    -webkit-appearance: none;
    border: none;
    padding:0;
    border-radius: 0px;
    width: 40px;
    margin-top: 0;
}
 
canvas{
    width: 100%;
    border: 2px solid blue;
}

select {
    height: 30px;
    word-wrap: break-word;
    font-family:inherit;
    border-radius: 30px;
    background: lightgrey;
}

#selectB{
    display: inline-block;
    width: 100%-200px;
    margin-top: 10px;
}

.submitLogin, #newGame{
    display: block;
    margin-right: auto;
    margin-left: auto;  
}

dialog::backdrop {
    background: black;
    opacity: 0.7;
}

dialog{
    border-radius: 20px;
    background:lightgrey;
    width: 300px;
    height: 170px;
    overflow: auto;
    border:none;
}

#About{
    width: 330px;
    height: 400px;
}

#winner h2, #better h2, #loser h2{
    padding:30px;
}

dialog .close, .close2, .close1 {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

dialog .close:hover {
    color: #99ff66;
}

dialog .close2:hover {
    color: #c1a4f7e0;
}

dialog .close1:hover{
    color:#4ddbff;
}

dialog h2 {
    color: #333;
}
      
#dob-day-error ,#dob-month-error, #dob-year-error{
    width:30px;

}

.col {
    float: left;
    width: 33.3%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    text-align: center;
}

.row2 .col{
    float: left;
    width: 25%;
}

.col-setting input{
    border-radius: 20px;
    background:lightgrey;
    width: 100%;
    display: block;
    text-align: center;
}

.col-setting label{
    float: left;
    width: 100%;
    display: block;
}

#labelBall{
    font-weight:bold;
    float: left;
    width: 120px;
    padding-right: 24px;
}

#BallRange{
    font-family:inherit;
    display: block;
    width: 100%;
    float: left;
}

#cBalls{
    font-weight: bold;
}

#valBalss{
    float: right;
    padding:15px;
    padding-right: 24px;
}

#numM{
    display: inline-block;
    width: calc(100% - 120px);
    padding-right: 24px;
    padding-top:5px;
}

#Footer{
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.col-setting{
    float: left;
    width: 25%;
    padding:10px;
}

.col-game{
    float: left;
    width:50%;
}

@media screen and (max-width: 600px) {
    form {
        width: 100%;
    }

    .form-inner input,
    .form-inner textarea {
        width: 100%;
    }

    label {
        float: left;
        width: 90px;
        padding-right: 24px;
    }
    .error-key{
        width: 100%;
    }

    .RegisterLable, .LoginLable, .settingLable{
        float: none;
        display: block;
        width: 100%;
    }

    #startbtn, #randombtn{
        width: 40%;
    }
    	
    #selectA{
        float: left;
        width: 100px;
        padding-right: 24px;
    }

    .menu a{
	    text-decoration: none;
	    padding: 10px;
        cursor: context-menu;
    }

    #Welcome button{
        width: 25%;
    }

    .error{
        width:100%;
    }
}


